@import "./partials/overridersBootstrap";

.bi-search {
  cursor: pointer;
}
.bi-bell {
  cursor: pointer;
}

.dropdown-toggle::after {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

.dropdown {
  button {
    background-color: black;
  }
}

.containerBorder {
  border: 1px solid gray;
  padding: 10px 20px;

  .bi-grid {
    color: white;
    cursor: pointer;
  }

  .bi-filter-left {
    color: white;
    cursor: pointer;
  }
}
