@import "./partials/overridersBootstrap";

.bi-search {
  cursor: pointer;
}
.bi-bell {
  cursor: pointer;
}

.borderCustom {
  @media screen and (max-width: 992px) {
    border-top: 1px solid rgba(128, 128, 128, 0.381);
    padding: 8px 0;
  }
}

.nav-item {
  a {
    span {
      &:hover {
        color: #fff;
        transition: 1s;
        cursor: pointer;
      }
    }
  }
}

.dropdown-toggle::after {
  color: white;
}

.navbar-toggler {
  background-color: white;
}

.dropdown {
  button {
    background-color: black;
  }
}

.containerBorder {
  border: 1px solid gray;
  padding: 4px 20px;

  .bi-grid {
    color: white;
    cursor: pointer;
  }

  .bi-filter-left {
    color: white;
    cursor: pointer;
  }
}

footer {
  .row {
    .col-3 {
      p {
        font-size: 12px;
        color: gray;
      }
    }
  }
}
